/*CUSTOMERS SECTION*/
.customers {
  .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }}

  .customers-list {
    display: flex;
  justify-content: space-between;
    align-items: center;
  }
  .customers-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .customers-list-item-link-block {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $svg-color;
    border-radius: 4px;
    transition-property: border;
    @include animation ();
    .customers-list-item-link:hover &,
    .customers-list-item-link:focus-within & {
      border: 1px solid $svg-color-accent;
      }
    .logo-1 {
      width: 44px;
      height: 49px;
    }
    .logo-2 {
      width: 40px;
      height: 52px;
    }
    .logo-3 {
      width: 41px;
      height: 43px;
    }
    .logo-4 {
      width: 80px;
      height: 42px;
    }
    .logo-5 {
      width: 59px;
      height: 47px;
    }
    .logo-6 {
      width: 88px;
      height: 45px;
    } 
  }
  
  .customers-list-item-link-block-icon {
    fill: $svg-color;
   transition-property: fill;
   @include animation ();
          .customers-list-item-link:hover &,
          .customers-list-item-link:focus & {
            fill: $svg-color-accent;
          }
  }
  
