/*FEATURES SECTION*/
.features {
.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
    color: $title-light-theme-color;
  }
  .container {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .description {
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
  .features-list {
     display: flex;
             align-items: center;
            justify-content: space-between;
  }

  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-list-item-block {
    display: flex;
    height: 120px;
    border-radius: 4px;
    background-color: $rectangle-background-color;
    margin-bottom: 30px;
            justify-content: center;
            align-items: center;
    }
  
  .features-list-item-block-icon {
    width: 70px;
    height: 70px;
    fill: $title-light-theme-color;
  }
 
  
