/*FOOTER*/
.footer {
      .container {
      background-color: $footer-bgc;
      padding-top: 60px;
    padding-bottom: 60px;
    }
    .logo {
      color: $title-dark-theme-color;
         }

    .title {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $title-dark-theme-color;
    }
}
.footer-contact {
  text-align: center;}

  @media screen and (max-width: 1199px) {
    .footer-contact, .footer-social {
  margin-bottom: 60px;
}
  }

.footer-contact-logo {
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer-contact-adress-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact-adress-list-item-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-dark-theme-color;
  transition-property: color;
  @include animation ();
        &:hover,
        &:focus {
          color: $accent-color;
        }
}
.footer-contact-adress-list-item-link.map {
  color: $title-dark-theme-color;
 &:hover,
&:focus {
    color: $accent-color;
  }
 }

.footer-social-list-item-link-block {
     background-color: rgba(255, 255, 255, 0.1);
  
.footer-social-list-item-link:hover &,
.footer-social-list-item-link:focus & {
  background-color: $svg-color-accent;
}
}
.footer-social-list-link-icons {
  fill: $title-dark-theme-color;
  }
  @media screen and (min-width: 768px) {
    .footer .container {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1199px) {
.footer-social {
  margin-left: 165px;
  margin-right: 13px;
}
.footer-sign {
  margin-left: 14px;
}}

  }
@media screen and (min-width: 1200px) {
  .footer {
   min-width: 1200px;
   max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $footer-bgc;
   .title {
    text-align: left;
   }

  .container {
    justify-content: space-between;
   }
}
  .footer-contact {
    margin-right: 69px;
  }
  
  .footer-contact-adress-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-right: 94px;
  } 
  }
  