    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $title-light-theme-color: #212121;
    $title-dark-theme-color: #ffffff;
    $text-light-theme-color: #757575;
    $text-dark-theme-color: rgba(255, 255, 255, 0.6);
    $accent-color: #2196f3;
    $background-dark-theme-color: rgba(47, 48, 58, 0.8);
    $rectangle-background-color: #f5f4fa;
    $svg-color: #afb1b8;
    $svg-color-accent: #2196f3;
    $transition-time: 250ms;
    $transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    $burger-and-close-btn: #000000;
    $header-border-color: #ECECEC;
    $body-bgc: #E5E5E5;
